<html>
	<h1>{{ .title }}</h1>
  <body>
		{{if .currentUser}}<a href="/user/{{.currentUser}}">account</a> | <a href="/useraction/upload">upload</a> | <a href="/useraction/logout">logout</a> {{else}}<a href="/register">register</a> | <a href="/login">login</a>{{end}}
    <div id="recent">
      <h2>Recent Uploads</h2>
      {{range .recent}}
        {{.}}<br />
      {{end}}
    </div>
    <div id="popular">
      <h2>Popular Uploads</h2>
      {{range .popular}}
        {{.}}<br />
      {{end}}
    </div>
  </body>
</html>
