<html>
	<h1>
		{{ .title }}
	</h1>
  <body>
		<a href="/register">register</a> | <a href="/login">login</a>
    <div id="recent">
      <h2>Recent Uploads</h2>
      {{range .recent}}
        {{.}}<br />
      {{end}}
    </div>
    <div id="popular">
      <h2>Popular Uploads</h2>
      {{range .popular}}
        {{.}}<br />
      {{end}}
    </div>
  </body>
</html>
